@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Fredericka+the+Great&display=swap");
h3 {
  /* font-family: "Caveat", cursive; */

  /* font-family: 'Caveat', cursive; */
  /* font-family: "Fredericka the Great", serif; */
}
span {
  /* font-family: "Caveat", cursive; */
}
.title {
  color: #fff;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: 8;
  font-family: "Fredericka the Great", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20%;
}
.title_span {
  font-family: "Caveat", cursive;
}
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100px, 0);
  }
}
.bg {
  position: absolute;
  /* top: 0;
  left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 60vh;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  will-change: opacity;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 768px) {
  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 98%;
    height: 40vh;
    /* padding: 1rem 0; */
    /* margin: 0 auto; */
    /* padding-left: 1rem; */
    /* padding: 1rem; */
    /* margin: auto; */
    object-fit: contain;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    align-content: center;
    text-align: center;
  }
}
