.bg {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 50%;
  height: 30rem;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  object-fit: fill !important;
  image-rendering: high-quality;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media (max-width: 768px) {
  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 5rem; */
    /* padding-left: 1rem; */
    /* padding: 1rem; */
    /* margin: auto; */
    object-fit: cover;
  }
}
